## Loading Libraries

In [7]:
import pandas as pd

## SQL
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

import psycopg2

## Import Data

In [5]:
## Data base information
dbname = 'birth_db'
username = 'renormalization'
pswd = ' '
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print(engine.url)

postgresql://renormalization: @localhost/birth_db
postgresql://renormalization: @localhost/birth_db

In [6]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))
print(engine.url)

True
postgresql://renormalization: @localhost/birth_db

In [15]:
## connect:
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

## query:
sql_query = """
SELECT * 
FROM birth_data_table 
-- WHERE delivery_method='Cesarean';
"""
birth_data_from_sql = pd.read_sql_query(sql_query, con)

## quick check
birth_data_from_sql.head()

,index,Unnamed: 0,alcohol_use,anencephaly,attendant,birth_loc_type,birth_month,birth_state,birth_weight,birth_year,...,mother_state,population,pregnancy_weight,resident,revision,spina_bifida,table,timestamp,uses_tobacco,weight_gain
0,0,0,None,NaN,MD,NaN,Jan,None,4500.0,2012,...,None,None,None,Resident,S,NaN,births12.txt,1325405431,None,40.0
1,1,1,None,NaN,MD,NaN,Jan,None,4500.0,2012,...,None,None,None,Intra-State/Territor Non-resident (diff county),S,NaN,births12.txt,1325882986,None,49.0
2,2,2,None,NaN,MD,NaN,Jan,None,2500.0,2012,...,None,None,None,Resident,S,NaN,births12.txt,1326367089,None,30.0
3,3,3,None,NaN,MD,NaN,Jan,None,3000.0,2012,...,None,None,None,Resident,S,NaN,births12.txt,1326838810,None,15.0
4,4,4,None,NaN,MD,NaN,Jan,None,4000.0,2012,...,None,None,None,Intra-State/Territor Non-resident (diff county),S,NaN,births12.txt,1327339729,None,48.0

## Inspect Data

In [16]:
birth_data_from_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2716 entries, 0 to 2715
Data columns (total 39 columns):
index                    2716 non-null int64
Unnamed: 0               2716 non-null int64
alcohol_use              0 non-null object
anencephaly              2305 non-null float64
attendant                2700 non-null object
birth_loc_type           2319 non-null float64
birth_month              2716 non-null object
birth_state              0 non-null object
birth_weight             2709 non-null float64
birth_year               2716 non-null int64
cigarette_use            0 non-null object
cigarettes_per_day       0 non-null object
cigarettes_trimester1    2169 non-null float64
cigarettes_trimester2    2169 non-null float64
cigarettes_trimester3    2169 non-null float64
day                      2716 non-null object
delivery_method          2710 non-null object
downs syndrome           2305 non-null float64
drinks_per_week          0 non-null object
father_age               0 non-null object
father_race              1822 non-null object
gestation_weeks          2714 non-null float64
infant_sex               2716 non-null object
mother_age               2716 non-null int64
mother_birth_country     0 non-null object
mother_birth_state       0 non-null object
mother_education         2319 non-null object
mother_marital_status    2716 non-null object
mother_race              364 non-null object
mother_state             0 non-null object
population               0 non-null object
pregnancy_weight         0 non-null object
resident                 2716 non-null object
revision                 2716 non-null object
spina_bifida             2305 non-null float64
table                    2716 non-null object
timestamp                2716 non-null int64
uses_tobacco             0 non-null object
weight_gain              2583 non-null float64
dtypes: float64(10), int64(5), object(24)
memory usage: 827.6+ KB

## Save output and check

In [17]:
!ls

1_DataImportClean.ipynb      5_StatisticalTreatment.ipynb
2_DataInspection.ipynb       Data
3_Selection.ipynb            Model
4_Analysis.ipynb             Plot

In [18]:
birth_data_from_sql.to_csv("Data/TempData.csv", index=False)

## Done